<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <!-- Simple post content example. -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3>Usuários</h3>
                    <div class="col-xs-5">
                        <div id="userDateChart"></div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <div id="userLocaleChart"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                    <h3>Anúncios</h3>
                    <div class="col-xs-5">
                        <div id="postDateChart"></div>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                        <div id="postLocaleChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>