<!-- .container -->
<div class="container padding-bottom20">

    <!-- .row -->
    <div class="row">

        <div class="col-sx-12 col-sm-4 widget text-center">
            <!-- 1 -->
            <img src="/images/logo.png" alt="Logo" class="footer-logo" />
            <div class="footer-socials">
                <a href="https://www.facebook.com/www.w1buy.com.br" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://plus.google.com/110289445330350054280" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="https://youtu.be/GF9B4zTbWfY" title="you tube" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>

        <div class="col-sx-12 col-sm-4 widget text-center">
            <!-- 2 -->
            <div class="row">
                <ul>
                    <li><a href="/privacidade" target="_blank">Politica de Privacidade</a></li>
                    <li><a href="/termos" target="_blank">Termos de Uso</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sx-12 col-sm-4 widget text-center">
            <!-- 3 -->
            <a href="#">www.w1buy.com.br</a><br /><a href="#">w1buy@w1buy.com.br</a>
        </div>

    </div>
    <!-- .row end -->

</div>
<!-- .container end -->

<div class="footer-copyright">
    <div class="container">
        <p>&copy; 2016-2017 por <a href="javascript:;" target="_blank">W1Buy</a> - Todos direitos reservados.
        </p>
    </div>
</div>