<div class="row">
    <div id="ratingContainer">
    </div>

    <div class="clearfix">
    </div>

    <div class="col-xs-12">
        <textarea class="form-control" id="ratingComments" placeholder="(Opcional) Digite seus comentários aqui..."></textarea>
    </div>

    <div class="col-xs-12">
        <div id="replies">
        </div>
    </div>
</div>