<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="block">
            <button id="ask_permission" class="btn btn-default margin-bottom10-xs">
                Notificações
            </button>
        </div>
        <!-- Simple post content example. -->
        <div id="usersHome" class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="block">
                        <div class="col-xs-12 col-sm-6 text-center" style="color: #f26522 !important;">
                            <h1 style="color: #f26522 !important;">
                                Eu quero
                            </h1>
                            <div class="hidden-xs">
                                <img src="/images/start_buyer.png" alt="Comprador">
                            </div>
                            <h4>
                                Quero anunciar a todos o que desejo,<br /> e receber centenas de ofertas.
                            </h4>
                            <div class="row">
                                <a href="/anuncios/novo" class="btn btn-default btn-buyer">
                                    Anunciar o que desejo
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 text-center" style="color: #8a27ab !important;">
                            <hr class="hidden-sm hidden-md hidden-lg" />
                            <h1 style="color: #8a27ab !important;">
                                Eu tenho
                            </h1>
                            <div class="hidden-xs">
                                <img src="/images/start_salesman.png" alt="Vendedor">
                            </div>
                            <h4>
                                Quero encontrar quem deseja o que<br /> tenho e fazer uma oferta.
                            </h4>
                            <div class="row">
                                <a href="/anuncios" class="btn btn-default btn-seller">
                                    Encontrar quem deseja
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>