<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;" class="hidden-xs"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 50px;">Seja um afiliado vendedor e faça parte de uma rede</h2>
                    <div class="col-md-12">
                        <h4 style="margin-bottom: 1px;">Afiliado Vendedor</h4>
                        <div style="padding-bottom: 15px;">Empreendedores e Freelancers</div>
                        <img src="/images/price_one.jpg" />
                        <br />
                        <button style="background-color: #36d9d8;" class="btn btn-plan text-center" data-id="5" data-amount="238.80" data-desc="w1buy-plano-vendedor">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Defina 5 cidades </strong>que deseja receber aviso que tem compradores procurando seu produto.
                            </p>
                            <p>
                                <strong>Defina 5 cadastros </strong>de produtos por cidade para receber notificação de compradores.
                            </p>
                            <p>
                                Receba na hora a notificação assim que o comprador postar um anuncio com seu produto cadastrado.
                            </p>
                            <p>
                                Relatório diário de compradores nas cidades cadastradas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-default btn-buyer" onclick="javascript:location.href = '/plano-comprador-brasil'">Conheça o plano Brasil</button>
                    </div>
                    <div class="col-md-2 text-right">
                        <img src="/images/ps.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>