<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;" class="hidden-xs"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 50px;">Vender em todo o Brasil</h2>
                    <div class="col-md-12">
                        <h4 style="margin-bottom: 1px;">Afiliar Vendedor</h4>
                        <div style="padding-bottom: 15px;">Vendo muito</div>
                        <img src="/images/crossed_price_two.jpg" />
                        <br />
                        <br />
                        <img src="/images/price_two.jpg" />
                        <br />
                        <button style="background-color: #8a27ab;" class="btn btn-plan text-center" data-id="6" data-amount="357.60" data-desc="w1buy-plano-vendedor">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Sem limites </strong>de cidades que deseja receber aviso que tem compradores procurando seu
                                produto.
                            </p>
                            <p>
                                <strong>Sem limites </strong>de cadastro de produtos para receber notificação de compradores.
                            </p>
                            <p>
                                Receba na hora a notificação assim que o comprador postar um anuncio com seu produto cadastrado.
                            </p>
                            <p>
                                Relatório diário de compradores nas cidades cadastradas.
                            </p>
                            <p>
                                Tem sua logomarca publicada em nossa pagina.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-default" onclick="javascript:location.href = '/plano-comprador'">
                            <span class="fa fa-arrow-left"></span> &nbsp; Voltar</button>
                    </div>
                    <div class="col-md-2 right">
                        <img src="/images/ps.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>