<div class="container container-fluid">
    <div class="row">
        <div style="padding-top: 15px;" class="hidden-xs"></div>
        <div class="hidden-xs">
            {{>account}}
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h2 style="margin-bottom: 50px;">Vender em todo o Brasil</h2>
                    <div class="col-md-5">
                        <h3 style="margin-bottom: 5px;">&nbsp;</h3>
                        <h4 style="margin-bottom: 1px;">Afiliar Vendedor</h4>
                        <div style="padding-bottom: 15px;">Vendo muito</div>
                        <img src="/images/crossed_price_one.jpg" />
                        <br />
                        <br />
                        <img src="/images/price_one.jpg" />
                        <br />
                        <button style="background-color: #36d9d8;" class="btn btn-plan text-center" data-id="3" data-amount="238.80" data-desc="w1buy-planos-vendedor-brasil">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Sem limites </strong>de cidades que deseja receber aviso que tem compradores procurando seu
                                produto.
                            </p>
                            <p>
                                <strong>Sem limites </strong>de cadastro de produtos para receber notificação de compradores.
                            </p>
                            <p>
                                Receba na hora a notificação assim que o comprador postar um anuncio com seu produto cadastrado.
                            </p>
                            <p>
                                Relatório diário de compradores nas cidades cadastrada.
                            </p>
                            <p>
                                Tem sua logomarca publicada em nossa pagina.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" style="margin-top: 20%;">
                        <img src="/images/price_plus.jpg" />
                    </div>
                    <div class="col-md-5">
                        <h3 style="margin-bottom: 5px;">
                            <span class="fa fa-angle-left" style="color: #36d9d8;"></span> &nbsp;
                            <span style="color: #8a27ab;">Mais Usado</span> &nbsp;
                            <span class="fa fa-angle-right" style="color: #36d9d8;"></span>
                        </h3>
                        <h4 style="margin-bottom: 1px;">Afiliar Vendedor + Comprador</h4>
                        <div style="padding-bottom: 15px;">Vendo e compro muito</div>
                        <img src="/images/crossed_price_two.jpg" />
                        <br />
                        <br />
                        <img src="/images/price_two.jpg" />
                        <br />
                        <button style="background-color: #8a27ab;" class="btn btn-plan text-center" data-id="4" data-amount="357.60" data-desc="w1buy-planos-vendedor-comprador-brasil">Eu Quero</button>
                        <br />
                        <div style="line-height: 18px; margin: auto; width: 250px;">
                            <p>
                                <strong>Sem limites </strong>de cidades que deseja realizar a compra.
                            </p>
                            <p>
                                <strong>Sem limites </strong>de produtos para cada cidade.
                            </p>
                            <p>
                                Receba na hora a notificação assim que o vendedor ver seu anuncio e fizer uma proposta.
                            </p>
                            <p>
                                Receba relatório diário com todas as ofertas dos vendedores.
                            </p>
                            <p>
                                Tem sua logomarca publicada em nossa pagina.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <button class="btn btn-default" onclick="javascript:location.href = '/planos-vendedor'">
                            <span class="fa fa-arrow-left"></span> &nbsp; Voltar</button>
                    </div>
                    <div class="col-md-2 right">
                        <img src="/images/ps.png" alt="Banner PagSeguro" title="Compre com pagSeguro e fique sossegado">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>