<div class="container">
    <div style="padding-top: 15px;">
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h2>World One Buy Soluções em Compras</h2>
                    <h3>POLÍTICA DE PRIVACIDADE E SEGURANÇA</h3>
                    <h4>A Política de Privacidade e Segurança abaixo constitui parte integrante dos Termos e Condições de Uso.</h4>
                    <p>
                        <strong>1. Identificação</strong>
                    </p>
                    <p>
                        Este site é de propriedade, mantido e operado por WORLD ONE BUY SOLUÇÕES EM COMPRAS LTDA – ME (W1BUY), com endereço na Avenida José Sérvulo Soalheiro, n. º 1.230, Bairro São Pedro, Sete Lagoas/MG, CEP 35.701-019, inscrita no CNPJ/MF sob o n. º 22.822.327/0001-81, endereço de e-mail contato@w1buy.com.br.
                    </p>
                    <p>
                        <strong>2. Contato</strong>
                    </p>
                    <p>
                        Caso o Usuário necessite de qualquer informação, esclarecimento ou atendimento com relação a esta Política de Privacidade e Segurança, a (W1BUY), disponibiliza o CAU (Central de Atendimento ao Usuário) para receber todas as comunicações que o Usuário desejar fazer. O CAU opera por meio de e-mail (cau@w1buy.com.br) e por
                        correspondência endereçada à Avenida José Sérvulo Soalheiro, n. º 1.230, Bairro São Pedro, Sete Lagoas/MG, CEP 35.701019.
                    </p>
                    <p>
                        <strong>3. Informações gerais</strong>
                    </p>
                    <p>
                        A W1BUY adota todas as medidas necessárias para proteger a privacidade do Usuário, em atendimento à legislação em vigor. Este documento detalha as formas de coleta, guarda, utilização, compartilhamento e divulgação de seus dados pessoais, bem como aponta claramente as medidas tomadas para assegurar a proteção dos dados
                        coletados.
                    </p>
                    <p>
                        <strong>4. Coleta, utilização e guarda dos dados Conta de Acesso</strong>
                    </p>
                    <p>
                        Para a criação de uma Conta de Acesso no Site, o Usuário deve preencher um cadastro onde deve constar o seu Nome, Nome de Usuário, E-mail, Senha, Telefone e Cidade de residência. Os dados fornecidos pelos Usuários serão armazenados e utilizados pelo W1BUY, por si ou por terceiros por ela contratados, após a concretização
                        de um negócio no Site. Os dados poderão ser compartilhados com terceiros contratados pelo W1BUY nos termos desta Política, ressaltando-se que a criação de cada Conta de Acesso ou qualquer cadastro no Site, para o qual seja necessário o envio de qualquer dado pessoal do Usuário, pressupõe o consentimento
                        expresso quanto à coleta, uso, armazenamento e tratamento de dados pessoais.<br /> O Usuário é responsável, nas esferas civil e criminal, pela veracidade e atualização dos dados fornecidos e a W1BUY se exime de qualquer reponsabilidade por danos decorrentes do preenchimento
                        incompleto, impreciso ou inexato do cadastro pelo Usuário, sob qualquer meio ou forma, ou, ainda, pelo uso desse cadastro de forma indevida por qualquer terceiro não autorizado a usar tais dados ou, ainda, por terceiros que tenham, devida ou indevidamente, obtido os dados do Usuário para acesso no
                        Site, agindo como se ele fosse.<br />
                        <strong>Coleta de dados (Cookies):</strong> Visando oferecer a melhor experiência de navegação e acessibilidade ao Usuário, a W1BUY utiliza-se de tecnologias para coletar e armazenar informações relacionadas à visita do Usuário no Site e isso pode incluir o envio de um ou mais cookies ou identificadores
                        anônimos que coletam dados relativos às preferências de navegação e às páginas visitadas pelo Usuário. Desta forma, a apresentação do Site fica personalizada e alinhada aos interesses pessoais do Usuário. A utilização destes dados fica restrita ao objetivo indicado e a W1BUY se compromete a não utilizar
                        ou permitir a utilização de tais dados com outra finalidade. Ademais, a coleta, guarda e tratamento destes dados é absolutamente automatizada, não havendo nenhuma possibilidade de contato humano com os dados em questão. O Usuário pode e poderá, a qualquer tempo, caso discorde da política de cookies
                        acima, utilizar as ferramentas de seu navegador que impedem a instalação de cookies e ainda apagar quaisquer cookies existentes em seu dispositivo de conexão com a internet. Neste caso, algumas funcionalidades do Site poderão apresentar erros. A W1BUY poderá ainda utilizar-se de outras tecnologias
                        para a coleta de dados de navegação dos Usuários, comprometendo-se a guardá-los, tratá-los e utilizá-los em conformidade com esta Política.<br />
                        <strong>Coleta de dados (Registros de acesso):</strong><br /> A W1BUY manterá em sua base de dados todas as informações relativas aos acessos do Usuário ao Site, incluindo, mas não se limitando ao endereço IP, às páginas acessadas, aos horários e datas de acesso, e o dispositivo de acesso utilizado,
                        nos termos da legislação vigente. Tais registros poderão ser utilizados em investigações internas ou públicas para averiguação de práticas que possam gerar quaisquer prejuízos ao W1BUY,outros usuários e terceiros, inclusive a prática de crimes em ambientes virtuais.<br />
                        <strong>Coleta de dados (Outras formas):</strong><br /> A W1BUY poderá coletar dados pessoais do Usuário, que não os identificados aqui, que sejam inseridos pelo Usuário e sobre o Usuário voluntariamente no processo de navegação do Site ou quando entrar em contato com o CAU (Central de Atendimento
                        ao Usuário). Finalmente, o ECHANNEL poderá acessar bases de dados públicas ou privadas para confirmar a veracidade dos dados pessoais informados pelo Usuário.<br />
                        <strong>Utilização de dados (E-mail):</strong><br /> A W1BUY utilizará o e-mail do Usuário prioritariamente para enviar informações sobre suas negociações dentro do site (especialmente confirmação de concretização de negócio, dados do usuário com que se negociou e link de acesso ao Pag Seguro e Paypal).
                        O e-mail cadastrado também será utilizado para recuperação da senha de acesso do usuário, em caso de perda ou esquecimento.<br />
                        <strong>Utilização de dados (Publicidade via e-mail, MMS ou SMS):</strong><br /> No momento do cadastro de seus dados de contato, o Usuário terá a opção de aceitar ou proibir o envio de mensagens publicitárias. Ademais, a qualquer momento, o Usuário poderá alterar sua decisão, por meio de acesso
                        à sua Conta no Site ou de contato com o CAU (Central de Atendimento ao Usuário).<br />
                        <strong>Utilização dos dados (Outras formas):</strong><br /> Além das formas expostas acima, a W1BUY poderá, a seu exclusivo critério, utilizar os dados pessoais do Usuário nas seguintes formas: (i) atualização de cadastro; (ii) garantia da segurança do Usuário; (iii) resposta a solicitações do próprio
                        Usuário; (iv) informação acerca de alterações nos Termos e Condições de Uso ou das Políticas; (v) elaboração de estatísticas com relação ao uso do Site, garantido o anonimato do Usuário, inclusive para fins de aperfeiçoamento e entendimento do perfil dos Usuários para a melhoria do Site; (vi) aperfeiçoamento
                        de ferramentas de interatividade entre o Site e o Usuário, garantido seu anonimato; (vii) cumprimento de ordens judiciais; e (viii) defesa dos direitos do W1BUY contra o Usuário em procedimentos judiciais ou administrativos.<br />
                        <strong>Guarda dos dados:</strong><br /> A W1BUY guardará todos os dados coletados em suas bases de dados protegidas e seguras. Tais dados serão acessados apenas por processos computadorizados automatizados, profissionais autorizados e nos casos listados nesta Política. Caso o Usuário requeira a
                        exclusão de seus dados da base de dados, a W1BUY se reserva o seu direito de manter os dados em questão em cópias de salvaguarda por até 6 (seis) meses, a fim de cumprir obrigações legais de guarda obrigatória.
                    </p>
                    <p>
                        <strong>5. Compartilhamento e divulgação dos dados</strong>
                    </p>
                    <p>
                        A W1BUY tem a confidencialidade dos dados pessoais do Usuário como prioridade em seus negócios. Assim, assume o compromisso de não divulgar, compartilhar, dar acesso a, facilitar acesso a, alugar, vender, trocar ou de qualquer outra forma disponibilizar tais informações a terceiros, sob nenhum pretexto, exceto nos casos
                        autorizados expressamente pelo Usuário, inclusive nos casos indicados abaixo. Com o único intuito de permitir a concretização de negociações no Site, a W1BUY poderá compartilhar dados pessoais dos Usuários com os demais Usuários e parceiros comerciais, como empresas processadoras de pagamentos e
                        administradoras de cartão de crédito. Neste caso, serão compartilhados apenas os dados pessoais imprescindíveis para que o parceiro comercial do ECHANNEL desempenhe sua atividade. Ademais, tais parceiros comerciais serão obrigados, por meio de contratos de confidencialidade, a não arquivar, manter
                        em arquivo, compilar, copiar, reproduzir ou compartilhar tais dados com quem quer que seja. A outra hipótese de divulgação de dados pessoais é por meio de uma determinação judicial. Também neste caso, a divulgação ocorrerá apenas na medida necessária para cumprir a determinação judicial, permanecendo
                        sigilosos os dados não requeridos pela autoridade em questão.
                    </p>
                    <p>
                        <strong>6. Dados transmitidos sem solicitação do W1BUY</strong>
                    </p>
                    <p>
                        A W1BUY solicita ao Usuário que não envie ao W1BUY quaisquer informações comerciais, criações pessoais, ideias, fotografias, projetos, conceitos, etc (Conteúdos Não Solicitados). Tais Conteúdos Não Solicitados serão sumariamente descartados, sem qualquer leitura ou incorporação às bases de dados do W1BUY. Nos termos da
                        Lei de Direitos Autorais, não são suscetíveis de proteção no Brasil as ideias, concepções abstratas, projetos, planos e esquemas. Desta forma, o eventual uso pelo W1BUY de quaisquer Conteúdos Não Solicitados será decorrente de desenvolvimento interno e independente e poderá ocorrer livremente, não
                        sendo devida ou exigida qualquer autorização ou compensação ao usuário ou consumidor. A W1BUY desenvolve de forma independente todas as suas políticas e atividades, rechaçando desde já qualquer acusação ou alegação de aproveitamento de Conteúdos Não Solicitados.
                    </p>
                    <p>
                        <strong>7. Medidas de segurança</strong>
                    </p>
                    <p>
                        <strong>Recursos tecnológicos:</strong> A W1BUY adota recursos tecnológicos avançados para garantir a segurança de todos os dados pessoais coletados e armazenados. Nem mesmo os funcionários do W1BUY têm livre acesso à base de dados dos Usuários, sendo este limitado apenas àquelas pessoas cujas funções
                        exigem o contato com dados pessoais. Entre as medidas de segurança implementadas, estão a utilização de modernas forma de criptografia e a instalação de barreiras contra o acesso indevido à base de dados (firewalls). Tais medidas podem ser verificadas pelo Usuário acessando o Site pela visualização
                        do “cadeado de segurança” em seu navegador de internet.<br />
                        <strong>Sigilo da senha:</strong> A W1BUY recomenda que o Usuário mantenha sua senha sob total sigilo, evitando a sua divulgação a terceiros. A W1BUY nunca solicitará ao Usuário que informe sua senha fora do Site, por telefone, e-mail ou por qualquer outro meio de comunicação. A senha do Usuário
                        deverá ser usada exclusivamente no momento do acesso à Conta do Usuário no Site. Caso o Usuário suspeite que sua senha tenha sido exposta a terceiros, a W1BUY recomenda a imediata substituição da senha.<br />
                        <strong>E-mails suspeitos:</strong> A W1BUY não envia mensagens: (i) solicitando dados pessoais do Usuário; (ii) solicitando a senha ou dados financeiros do Usuário; (iii) com arquivos anexos; ou (iv) com links para download de arquivos. Caso receba um e-mail com tais características, desconsidere-o
                        e entre em contato com o CAU (Central de Atendimento ao Usuário).<br />
                        <strong>Cartões de crédito:</strong> A W1BUY não armazena em sua base de dados informações financeiras do Usuário, como as informações referentes a cartões de crédito. O procedimento de aprovação do pagamento ocorre entre o Usuário e o Pag Seguro ou Paypal, sem intervenção do W1BUY.<br />
                        <strong>Impossibilidade de responsabilização:</strong> Em que pese os maiores esforços do W1BUY, o atual estágio da tecnologia não permite que se crie uma base de dados absolutamente segura contra ataques. Desta forma, a W1BUY exime-se de qualquer responsabilidade por danos eventualmente causados
                        por terceiros, inclusive por invasões no Site ou na base de dados, por vírus ou por vazamento de informações, a menos que fique comprovada exclusiva culpa do W1BUY.
                    </p>
                    <p>
                        <strong>8. Direitos das pessoas sobre os dados coletados </strong>
                    </p>
                    <p>
                        A W1BUY permite que o Usuário faça diferentes tipos de cadastro, contendo mais ou menos informações de acordo com seu próprio objetivo no Site. Assim, o Usuário tem a possibilidade de escolher a forma de cadastro, devendo preenchê-lo com informações verídicas e atualizadas. O Usuário declara ser o legítimo titular de seus
                        dados pessoais e poderá, a qualquer momento, utilizar as ferramentas do Site para editá-los, atualizá-los ou removê-los preventivamente de nossa base de dados. A W1BUY manterá os dados preventivamente removidos em sigilo pelo prazo de seis meses, para atender obrigações legais de guarda obrigatória,
                        descartando-os definitivamente após tal período. A W1BUY disponibiliza ainda ferramentas para que o Usuário possa determinar alguns usos de seus dados pessoais, como a autorização para envio de peças de publicidade.
                    </p>
                    <p>
                        <strong>9. Uso de dados em caso de alteração de controle do EC W1BUY </strong>
                    </p>
                    <p>
                        Os dados coletados podem ser eventualmente transferidos a um terceiro em caso de alteração do controle, de uma aquisição, de uma incorporação, de uma fusão ou de uma venda de ativos do W1BUY sob qualquer meio ou forma.
                    </p>
                    <p>
                        <strong>10. Política de dados de menores </strong>
                    </p>
                    <p>
                        A W1BUY não é direcionado a menores de 18 (dezoito) anos. No entanto, o acesso ao W1BUY não é proibido aos menores, uma vez que não há qualquer conteúdo restrito por questões etárias. Os formulários e questionários do site do W1BUY não visam obter dados de menores. Caso tais dados sejam inseridos por menores, seu representante
                        legal poderá contatar o CAU (Central de Atendimento ao Usuário) para retificar, modificar ou remover tais dados.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>