<div class="container">
    <div style="padding-top: 15px;">
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <h2>World One Buy Soluções em Compras</h2>
                    <h3>TERMOS E CONDIÇÕES DE USO</h3>
                    <h4><a name="summary">Sumário</a></h4>
                    <ol>
                        <li><a href="#presentation">Apresentação e definições</a></li>
                        <li><a href="#rules">Regras de utilização do site</a></li>
                        <li><a href="#registration">Cadastro de Usuários</a></li>
                        <li><a href="#personalData">Dados pessoais, privacidade e segurança</a></li>
                        <li><a href="#negotiations">Forma de negociação</a></li>
                        <li><a href="#payment">Pagamento</a></li>
                        <li><a href="#price">Preço</a></li>
                        <li><a href="#exchanges">Trocas e devoluções</a></li>
                        <li><a href="#returns">Arrependimento</a></li>
                        <li><a href="#responsabilities">Responsabilidades</li>
        <li><a href="#rights">Direitos de Propriedade Intelectual</a></li>
                        <li><a href="#duration">Duração</a></li>
                        <li><a href="#practices">Práticas Vedadas</a></li>
                        <li><a href="#reputation">Sistema de Reputação</a></li>
                        <li><a href="#products">Produtos Proibidos de Comercialização</a></li>
                        <li><a href="#services">Alcance dos Serviços</a></li>
                        <li><a href="#fails">Falhas no Sistema</a></li>
                        <li><a href="#sanctions">Sanções</a></li>
                        <li><a href="#information">Registro Público</a></li>
                        <li><a href="#language">Idioma</a></li>
                        <li><a href="#timing">Horário</a></li>
                        <li><a href="#law">Lei aplicável e Foro de Eleição</a></li>
                        <li><a href="#address">Endereço para envio de correspondência</a></li>
                    </ol>
                    <p>
                        <strong id="presentation">1. Apresentação e definições</strong>
                    </p>
                    <p>
                        Este site é de propriedade, mantido, e operado por WORLD ONE BUY SOLUÇÕES EM COMPRAS LTDA - ME, com endereço na Avenida José Sérvulo Soalheiro, n. º 1.230, Bairro São Pedro, Sete Lagoas/MG, CEP 35.701-019, inscrita no CNPJ/MF sob o n. º 22.822.327/0001-81, endereço de e-mail contato@w1buy.com.br. Este documento relaciona
                        os termos e condições que devem ser observados pelos Usuários (conforme definição abaixo) na utilização do Site, de suas ferramentas e de suas funcionalidades. A W1BUY faculta acesso e utilização do site a quaisquer Usuários. O Usuário declara ter lido e aceito estes Termos e Condições de Uso e das
                        Políticas antes de ter iniciado a utilização do Site. Caso o Usuário não aceite estes Termos e Condições de Uso, não lhe será permitido acesso a áreas restritas do Site. Para os fins destes Termos e Condições de Uso, bem como das Políticas, os termos abaixo terão os seguintes significados:
                    </p>
                    <p><strong>Site</strong></p>
                    <p>
                        É o serviço web oferecido pela WORLD ONE BUY SOLUCOES EM COMPRAS LTDA – ME (W1BUY) no sentido de promover a aproximação de potenciais compradores de determinado produto e pessoas físicas ou jurídicas que tenha condições de atender a pretensão dos compradores. O Site não interfere em qualquer momento na negociação entre
                        vendedores e compradores, não tendo qualquer ingerência no que se refere ao preço, condições de pagamento, forma de entrega e outras condições estipuladas entre os Usuários.
                    </p>
                    <p><strong>Usuário</strong></p>
                    <p>
                        Usuário é qualquer Pessoa Física ou Jurídica cadastrada no site com o propósito de comprar ou vender algum produto. O Usuário não poderá ofertar produtos a venda, mas tão somente consultar se o produto que tem a disposição está sendo pretendido por algum Usuário Comprador, que fará o cadastro dos produtos que possui interesse
                        em comprar.
                    </p>
                    <p><strong>Login</strong></p>
                    <p>
                        É o acesso ao sistema mediante um registro simples, sem informações de documentos pessoais ou endereço, que somente deverão ser fornecidos quando da concretização de uma W1Buy World One Buy Soluções em Compras negociação, entre os Usuários envolvidos na negociação. O login deve ser feito mediante o cadastro de um nome de
                        usuário e senha.
                    </p>
                    <p><strong>Direitos de Propriedade Intelectual</strong></p>
                    <p>
                        Marca ou quaisquer sinais distintivos de titularidade da e/ou licenciados à WORLD ONE BUY SOLUÇÕES EM COMPRAS LTDA - ME, que sejam utilizados na identificação do Site e do serviço prestado, bem como todos os bens de propriedade intelectual de titularidade do W1BUY, de qualquer empresa pertencente a seu grupo econômico,
                        ou, ainda, de terceiro, cujo uso seja licenciado e/ou autorizado à W1BUY, incluindo mas não se limitando a Marcas, patentes, invenções ou modelos de utilidade, desenhos industriais, know-how, segredos de negócio, ilustrações, fotografias e/ou conteúdos de qualquer tela do Site ou quaisquer obras
                        intelectuais ou outros conteúdos que estejam inseridos em qualquer obra intelectual ou qualquer bem protegido por direitos de propriedade intelectual.
                    </p>
                    <p>
                        <strong id="rules">2. Regras de utilização do Site</strong>
                    </p>
                    <p>
                        O Usuário se obriga a utilizar o Site respeitando e observando estes Termos e Condições de Uso, bem como a legislação vigente, os costumes e a ordem pública. Desta forma, o Usuário concorda que não poderá: (i) lesar direitos de terceiros, independentemente de sua natureza, em qualquer momento, inclusive no decorrer do uso
                        do Site; (ii) executar atos que limitem ou impeçam o acesso e a utilização do Site, em condições adequadas, aos demais Usuários; (iii) acessar ilicitamente o Site ou sistemas informáticos de terceiros relacionados ao Site; (iv) difundir programas ou vírus informáticos suscetíveis de causar danos
                        de qualquer natureza, inclusive em equipamentos e sistemas de terceiros; (v) utilizar mecanismos que não os expressamente habilitados ou recomendados no Site para obtenção de informações, conteúdos e serviços; (vi) realizar quaisquer atos que de alguma forma possam implicar qualquer prejuízo ou dano
                        a outros Usuários; (vii) acessar áreas de programação do Site, bases de dados ou qualquer outro conjunto de informações que escape às áreas públicas ou restritas do Site; (viii) realizar ou permitir engenharia reversa, traduzir, modificar, alterar a linguagem, compilar, decompilar, modificar, reproduzir,
                        alugar, sublocar, divulgar, transmitir, distribuir, usar ou, de outra maneira, dispor do Site ou das ferramentas e funcionalidades nele disponibilizadas sob qualquer meio ou forma, inclusive de modo a violar direitos W1BUY e/ou de terceiros; (ix) praticar ou participar de qualquer ato que constitua
                        uma violação de qualquer direito da W1BUY ou de terceiros ou ainda de qualquer lei aplicável, ou agir sob qualquer meio ou forma que possa contribuir com tal violação; (x) interferir na segurança ou cometer usos indevidos contra o Site ou qualquer recurso do sistema, rede ou serviço conectado ou
                        que possa ser acessado por meio do Site, devendo acessar o Site apenas para fins lícitos e autorizados; (xi) utilizar aplicativos automatizados de coleta e seleção de dados para realizar operações massificadas ou para quaisquer finalidades ou, ainda, para coletar e transferir quaisquer dados que
                        possam ser extraídos do Site para fins não permitidos ou ilícitos, (xii) utilizar as ferramentas e funcionalidades do Site para difundir mensagens não relacionadas com o Site ou com as finalidades do Site, incluindo mensagens de cunho racista, étnico, político, religioso, cultural ou depreciativo,
                        difamatório e/ou calunioso de qualquer pessoa ou grupo social.
                    </p>
                    <p>
                        <strong id="registration">3. Cadastro de Usuários</strong>
                    </p>
                    <p>
                        Para obter acesso ao conteúdo completo e a todas as ferramentas e funcionalidades do Site, incluindo a possibilidade de cadastrar produtos de interesse e verificar os produtos de interesse dos usuários, o Usuário deverá criar uma conta com os dados solicitados, criando um nome de Usuário e Senha, os quais serão armazenados
                        e utilizados para identificação dos Usuários dentro do Site. Tais dados não incluem documentos pessoais e endereços, que somente devem ser repassados pelos próprios Usuários após a concretização da negociação. Por tal razão, a W1BUY não se responsabiliza por tais dados, mas tão somente por aqueles
                        solicitados para a criação do nome do Usuário e senha. No momento da concretização da compra o usuário Comprador e o Usuário Vendedor deverão verificar a idoneidade dos dados fornecidos por sua contraparte. É de exclusiva responsabilidade do Usuário a manutenção do sigilo do nome de usuário e da
                        senha de acesso.
                    </p>
                    <p>
                        <strong id="personalData">4. Dados pessoais, privacidade e segurança</strong>
                    </p>
                    <p>
                        Toda informação ou Dado Pessoal do Usuário é armazenado em servidores ou meios magnéticos de alta segurança. Salvo com relação às informações que são publicadas no Sites, a W1BUY adotará todas as medidas possíveis para manter a confidencialidade e a segurança das informações sigilosas, porém não se responsabilizará por
                        eventuais prejuízos que sejam decorrentes da divulgação de tais informações por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de Usuários.
                        <br /> O Usuário expressamente autoriza que suas informações e dados pessoais sejam compartilhados pelo W1BUY com as demais empresas integrantes do grupo econômico, parceiros comerciais, membros do Programa de Proteção à Propriedade Intelectual, autoridades e pessoas físicas ou jurídicas que aleguem
                        ter sido lesadas por Usuários.
                    </p>
                    <p>
                        <strong id="negotiations">5. Forma de negociação</strong>
                    </p>
                    <p>
                        O usuário, após efetuar o login no site, cadastrará o(s) produto(s) que deseja adquirir, especificando-o da forma que achar mais adequada aos seus interesses. Tal(is) produto(s) ficarão armazenados nos servidores do Site, estando disponível para que usuários interessados em vender seus produtos pesquisem o interesse dos
                        Usuários Compradores.
                        <br /> Uma vez que o Usuário Vendedor identifique um comprador em potencial para o seu produto, poderá enviar perguntas ao Usuários dentro do portal, sendo que uma nova pergunta só poderá ser enviaada após a resposta do Comprador ou após 48 horas.<br /> As perguntas e respostas da negociação serão
                        visíveis a todos os Usuários do site, que poderão oferecer melhores condições de preço, forma de pagamento, entrega, etc, de acordo com os interesses das partes.<br /> Após o Usuário Comprador decider-se por um Usuário Vendedor para concretizar a negociação, caberá ao Usuário Comprador solicitar
                        a visualização do contato do usuário vendedor, quando será direcionado ao site do Pag Seguro ou PayPal, quando lhe será cobrada a taxa para que seja fornecido o contato do Usuário Vendedor (ver Seção 7, Preço).<br /> O Usuário Vendedor, uma vez paga a taxa pelo Usuário Comprador, será notificado
                        pelo Site a também efetuar o pagamento da taxa para concretizar a negociação com o usuário Vendedor, sendo direcionado ao site do Pag Seguro ou PayPal.<br /> Após o Usuário Comprador e Usuário Vendedor efetuarem o pagamento, o valor será liberado em favor do Site que fornecerá os dados para contato
                        de ambas as partes, a fim de que finalizem a negociação fora do site.<br /> O site, portanto, não cobra qualquer comissão pela compra ou venda de produtos, independentemente do seu valor, apenas possibilitando que o Usuário Comprador identifique o Usuário Vendedor que melhor atenda suas condições,
                        sendo que o site somente recebe uma taxa para fornecer os dados dos Usuários que concretizarem uma negociação.
                    </p>
                    <!--<p>
        <strong id="payment">6. Pagamento</strong>
    </p>
    <p>
        O E1BUY não recebe qualquer valor diretamente dos Usuários. Somente quando resolverem
        concretizar uma negociação é que o Usuário Comprador e o Usuário Vendedor deverão pagar
        a taxa para fornecimento do contato de ambas as partes, valor este que não guarda qualquer
        relação com o valor do produto objeto da compra e venda.<br />
        Tal pagamento é feito através de direcionamento ao site do Pag Seguro ou PayPal, onde os
        Usuários deverão possuir suas próprias contas para pagamento.<br />
        Caso o Usuário Comprador efetue o pagamento, porém o Usuário Vendedor não o faça, o valor
        será imediatamente estornado sem o envio do contato do Usuário Vendedor.
        O Usuário Vendedor somente será notificado a efetuar o pagamento da taxa para a conclusão
        do negócio após o pagamento da mesma pelo Usuário Comprador.<br />
        Somente após o pagamento da taxa pelo Usuário Comprador e Usuário Vendedor é que os
        valores serão liberados em favor da W1BUY, que enviará os contatos das partes, finalizando
        neste momento a sua participação no negócio realizado pelos Usuários.<br />
        A W1BUY, portanto, não vende qualquer produto, não recebe o pagamento de qualquer
        mercadoria, não negocia preço, forma de pagamento, prazo e forma de entrega ou prestação
        do serviço, tão somente disponibilizando o meio do Usuário Comprador localizar o Usuário
        Vendedor que possa lhe fornecer o produto e/ou serviço da forma que mais lhe agrade.
    </p>-->
                    <!--<p>
        <strong id="price">7. Preço</strong>
    </p>
    <p>
        O Site não cobrará dos Usuários qualquer valor até 31/03/2015.<br />
        A partir de 01/04/2015, serão observados os seguintes valores para que o Site, uma vez
        concretizada a negociação, forneceça os contatos das partes:<br />
        <table>
            <caption></caption>
            <thead></thead>
            <tbody>
                <tr>
                    <td><strong>PLANO</strong></td>
                    <td><strong>AO QUE DÁ DIREITO</strong></td>
                    <td><strong>VALOR</strong></td>
                </tr>
                <tr>
                    <td>Plano Simples</td>
                    <td>01 (uma) negociação</td>
                    <td>R$ 10,45</td>
                </tr>
                <tr>
                    <td>Plano Bronze</td>
                    <td>05 (cinco) negociações</td>
                    <td>R$ 47,85</td>
                </tr>
                <tr>
                    <td>Plano Prata</td>
                    <td>15 (quinze) negociações</td>
                    <td>R$ 132,00</td>
                </tr>
                <tr>
                    <td>Plano Ouro</td>
                    <td>Ouro 30 (trinta) negociações</td>
                    <td>R$ 247,00</td>
                </tr>
                <tr>
                    <td>Plano Lista</td>
                    <td>Recebimento de listagem de compradores</td>
                    <td>R$ 6,90/mês</td>
                </tr>
                <tr>
                    <td>Plano Grandes Magazines</td>
                    <td>Plano direcionado a Grandes magazines (exclui usuário Comprador de pagamento)</td>
                    <td>R$ 3.600,00/mês</td>
                </tr>
            </tbody>
        </table>
    </p>-->
                    Tais valores poderão ser alterados mediante prévia comunicação do Site aos Usuários.
                    <p>
                        <strong id="exchanges">8. Trocas e devoluções</strong>
                    </p>
                    <p>
                        A W1BUY, por não vender qualquer produto e não interferer na negociação entre os Usuários Compradores e Usuários Vendedores, apenas possibilitando a sua aproximação, não se responsabiliza por trocas e devoluções, que devem ser tratadas diretamente entre as partes.
                    </p>
                    <p>
                        <strong id="returns">9. Arrependimento</strong>
                    </p>
                    <p>
                        A W1BUY presta um serviço de aproximação entre o Usuário Comprador e o Usuário Vendedor, razão pela qual não se responsabiliza pelo arrependimento de quaisquer das partes.
                    </p>
                    <p>
                        <strong id="responsabilities">10. Responsabilidades</strong>
                    </p>
                    <p>
                        A W1BUY engaja seus melhores esforços para informar, atender e proteger o Usuário. O Usuário é o único responsável pela utilização do Site, de suas ferramentas e funcionalidades. Em nenhuma hipótese, a W1BUY ou seus diretores, representantes, agentes, empregados, sócios, parceiros ou prestadores de serviço serão responsabilizados
                        por qualquer dano emergente, indireto, punitivo ou expiatório, lucros cessantes ou outros prejuízos monetários relacionados a qualquer reclamação, ação judicial ou outro procedimento tomado em relação à utilização do Site, seu conteúdo, funcionalidades e/ou ferramentas. Notadamente, fica excluída
                        a responsabilidade da W1BUY sobre as seguintes circunstâncias, entre outras: (i) danos e prejuízos que o Usuário possa experimentar pela indisponibilidade ou funcionamento parcial do Site e/ou de todos ou alguns de seus serviços, informações, conteúdos, funcionalidade e/ou ferramentas, bem como pela
                        incorreção ou inexatidão de qualquer destes elementos; (ii) danos e prejuízos que o Usuário possa experimentar em sites de internet acessíveis por links incluídos no Site; (iii) diferenças de preços entre os artigos negociados no Site e aqueles expostos à venda em outros sites; (iv) danos e prejuízos
                        que o Usuário possa experimentar em decorrência do uso do Site em desconformidade com estes Termos e Condições de Uso ou com as Políticas; (v) danos e prejuízos que o Usuário possa experimentar em decorrência do uso do Site em desconformidade com a lei, com os costumes ou com a ordem pública; (vi)
                        danos e prejuízos que o Usuário possa experimentar em decorrência de falhas no Site, inclusive decorrentes de falhas no sistema, no servidor ou na conexão de rede, ou ainda de interações maliciosas como vírus, softwares que possam danificar o equipamento ou acessar informações do equipamento do Usuário.
                    </p>
                    <p>
                        <strong id="rights">11. Direitos de Propriedade Intelectual</strong>
                    </p>
                    <p>
                        O Usuário não está autorizado a utilizar, sob qualquer forma ou pretexto, as Marcas, suas reproduções parciais ou integrais ou ainda suas imitações, independentemente da destinação de tal uso. O Usuário compromete-se a não contestar a validade de qualquer Marca ou de qualquer outro sinal distintivo depositado ou registrado
                        pela W1BUY ou por quaisquer empresas a ela vinculadas, sob qualquer forma, no Brasil ou no exterior. O Usuário compromete-se a se abster de fazer qualquer uso das Marcas ou de suas variações (incluindo erros de ortografia ou variações fonéticas) como nome de domínio ou parte de nome de domínio ou
                        em qualquer nome de empresa, de qualquer tipo ou natureza, sob qualquer meio ou forma, inclusive por meio da criação de nomes de domínio ou e-mails. Todas as outras marcas, nomes de produtos, ou nomes de companhias que aparecem no site são de propriedade exclusiva de seus respectivos titulares.
                        <br /> O Usuário, ao acessar o Site, atesta que respeitará a existência e a extensão dos direitos de Propriedade Intelectual, bem como de todos os direitos de terceiros que sejam usados, a qualquer título, no Site ou que venham a ser disponibilizados no Site. O acesso ao Site e a sua regular utilização
                        pelo Usuário não lhe confere qualquer direito ou prerrogativa sobre o qualquer Propriedade Intelectual, Marca ou outro conteúdo nele inserido. É vedada a utilização, exploração, imitação, reprodução, integral ou parcial, de qualquer conteúdo sem a autorização prévia e por escrito.
                    </p>
                    <p>
                        <strong id="duaration">12. Duração</strong>
                    </p>
                    <p>
                        Estes Termos e Condições de Uso e as Políticas têm duração indefinida e permanecerão em vigor enquanto o Site estiver ativo.<br /> A redação aplicável é aquela da atualização imediatamente anterior ao acesso ou à Negociação. Da mesma forma, o acesso e a utilização do Site e dos recursos por ele oferecidos
                        têm, em principio, duração indeterminada, a exclusivo critério da W1BUY.<br /> O Site se reserva no direito de suspender e/ou cancelar, de forma unilateral e a qualquer momento, o acesso ao Site ou a algumas de suas partes ou a alguns de seus recursos, sem necessidade de prévio aviso.
                    </p>
                    <p>
                        <strong id="practices">13. Práticas Vedadas</strong>
                    </p>
                    <p>
                        Os Usuários não poderão, entre outras atitudes previstas nestes Termos e condições gerais: a) fornecer dentro do site, sem a concretização da negociação, endereço, e-mail, telefone ou qualquer outra informação que possa burlar a aproximação intermediada pelo site; b) anunciar produtos proibidos pelos presentes Termos e
                        pela legislação vigente; c) agredir, caluniar, injuriar ou difamar outros Usuários.<br /> Estes tipos de comportamento poderão ser sancionados com a suspensão temporária ou defitnitiva do Usuário, a critério do Site, sem prejuízo das ações legais que possam ocorrer pela configuração
                        de delitos ou contravenções ou os prejuízos civis que possam causar aos Usuários ou terceiros.
                    </p>
                    <p>
                        <strong id="reputation">14. Sistema de Reputação</strong>
                    </p>
                    <p>
                        O Usuário conta com um sistema para qualificar a sua contraparte, de acordo com as negociações entre eles realizadas. O sistema de reputação é atualizado periodicamente, de acordo com as qualificações inseridas pelos Usuários. Esta é uma importante ferramenta e representa a liberdade de expressão do Usuário na plataforma
                        do W1BUY, podendo se manifestar sobre a relação de compra e venda ocorrida.<br /> No W1BUY os Usuários, ao se cadastrarem no site, iniciarão suas negociações com a Nota 100. Os usuários, a medida que forem realizando suas negociações e serem classificados pela contraparte
                        mediante uma nota de 1 (hum) a 100 (cem), bem como um campo para justificar sua nota (com direito a replica), terão sua reputação alterada de acordo com a média da pontuação obtida com todas as suas transações. Assim, a reputação do Usuário estará constantemente em evolução, sempre refletindo a totalidade
                        das negociações realizadas pelo Site e as notas reciprocamente outorgadas por Compradores e Vendedores.<br /> A W1BUY não verifica a veracidade ou exatidão das qualificações, comentários ou réplicas e não se responsabiliza pelo seu conteúdo em decorrência das negociações realizadas ou por qualquer
                        comentário expresso no Site ou por qualquer outro meio, incluindo correio eletrônico.<br /> A W1BUY se reserva o direito de excluir os comentários que sejam ofensivos ou que sejam contrários a estes Termos e condições gerais e seus anexos. Ainda, a W1BUY poderá excluir as opiniões e/ou os comentários
                        sobre um Usuário em cumprimento de uma ordem judicial, administrativa ou de autoridade competente que justifique a alteração.
                    </p>
                    <p>
                        <strong id="products">15. Produtos Proibidos de Comercialização</strong>
                    </p>
                    <p>
                        Verifique a lista de produtos e serviços cujo oferecimento, anúncio ou solicitação de compra e/ou venda estão proibidos por alguma lei vigente ou pelo W1BUY.<br /> Os Usuários são responsáveis exclusivos da legalidade e legitimidade dos produtos que procuram e oferecem. O w1buy não assume responsabilidade
                        alguma pela existência de produtos ou serviços que infrinjam as políticas, qualquer lei ou decisão judicial vigente. A W1BUY poderá finalizer as negociações que não cumpram com as políticas aqui mencionadas. Por isso, recomendamos revisar esta lista antes de anunciar.<br />
                        <strong>TABACO E PRODUTOS RELACIONADOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Cigarros, charutos ou tabaco.<br /> Cigarros eletrônicos e seus acessórios ou complementos.<br /> Maços de cigarros ou litografias de caixas de charutos.<br /> Tubos e acessórios complementares. Por exemplo: limpeza, isqueiros, etc.<br /> Narguiles
                        <br /> Cinzeiros
                        <br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Livros, CDs ou qualquer outra obra artística que possua logotipos ou marcas de cigarros.<br /> Cinzeiros para automóveis.<br />
                        <strong>CELULARES E SERVIÇOS PARA CELULARES EM DESACORDO COM A LEI</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Serviços ou modems de celulares relatados em banda negativa, clonados ou que foram encontrados.
                        <br /> Produtos ou serviços que tenham como fim a alteração, substituição, duplicação ou modificação de serviços de telefonia celular.<br /> Chips, SIM cards ou linhas telefônicas.<br /> Bloqueadores e congestionadores de sinal.<br /> Serviços de obtenção de códigos de subsidio ou modificação de
                        números de série e códigos de serviço.
                        <br /> Serviços ou aplicações para ter internet de forma gratuita.<br /> Serviço de configuração ou aplicações de mensagens de texto e chamadas ilimitadas gratuitas.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Serviços de telefonia celular, a menos que tenham configuradas aplicações de mensagens de texto e/ou chamadas ilimitadas gratuitas.<br /> Chips turbo SIM, XSIM ou placas dual SIM.<br />                        Kits de reparação para celulares.<br /> Serviços e software para desbloquear celulares.<br /> Software original.<br /> Serviços para desbloqueio de celulares.<br /> Serviços de flasheo, jailbreak ou rooteo.<br /> Serviços de atualização de software.<br />
                        <strong>ARMAS, MUNIÇÕES E MATERIAL EXPLOSIVO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Armas de fogo de alto ou baixo calibre: armas esportivas, de coleção, relíquias ou antigas (se disparam ou não).<br /> Armas de ar Co2, airsoft e ar comprimido.<br /> Armas de eletrochoque ou que lancem eletrodos à distância.<br /> Parte de armas
                        de fogo, acessórios ou elementos relacionados com o funcionamento da arma: canhões, gatilhos, silenciadores, etc.<br /> Granadas, explosivos, mísseis, projéteis e pólvora.<br /> Miras infravermelhas ou de detecção de calor.<br /> Balas e munição para armas de fogo.<br /> Carga para armas de paintball.<br
                        /> Munição ou sistemas para recarregar armas de eletrochoque à distância.<br /> Produtos ou dispositivos cujo fim seja a montagem de explosivos.<br /> Máquinas para recarregar e fabricar munições.<br /> Ferramentas ou serviços que permitem modificar armas.<br /> Cursos que ensinem a modificar armas
                        de fogo.<br /> Spray de pimenta.
                        <br /> Armas de brinquedos ou de qualquer outro tipo que sejam similares a uma arma de fogo.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Facas, facões, sabres, espadas e navalhas.<br /> Armas para artes marciais e de combate corpo a corpo. Por exemplo: nunchakus, algemas, bastões, etc.<br /> Arco e flechas.<br /> Acessórios
                        que não participem do funcionamento da arma. Por exemplo: correntes, cartuchos, etc.
                        <br /> Anúncios informativos com esta temática.<br />
                        <strong>MÁQUINAS SEM EQUIPAMENTOS DE SEGURANÇA</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Máquinas ou equipamentos sem os correspondentes sistemas de segurança, de acordo com a Norma Regulamentadora n.º 12 do Ministério do Trabalho e Emprego.<br /> Máquinas ou equipamentos cuja venda é expressamente proibida de acordo com a Norma Regulamentadora
                        nº 12 do Ministério do Trabalho e Emprego.<br />
                        <strong>NARCÓTICOS E SUBSTÂNCIAS PROIBIDAS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Narcóticos, drogas, alucinógenos ou qualquer tipo de substâncias não permitidas pela lei vigente, em nenhuma das formas existentes.<br /> Drogas ou produtos que possuem efeitos alucinógenos, por exemplo:<br /> Abstenta
                        <br /> Peyote
                        <br /> Popper
                        <br /> Cactus São Pedro<br /> Utensílios que sirvam para produzir, modificar, processar, consumir ou promover o consumo, distribuição e produção das substâncias proibidas.<br /> Anúncios que promovam expressamente o consumo de drogas.<br /> Lembre-se que finalizaremos aqueles anúncios que não respeitem.<br
                        />
                        <strong>PROPRIEDADE ROUBADA</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Qualquer tipo de propriedade roubada:<br /> Produtos de propriedade particular.<br /> Produtos de propriedade de empresas e governos.<br />
                        <strong>MEDICAMENTOS, PRODUTOS PARA SAÚDE E/OU ESTÉTICA</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos relacionados com a saúde que devam ser homologados por órgãos oficiais ou receitados por um médico.<br /> Medicamentos de qualquer natureza, independentemente da necessidade ou não de prescrição médica.
                        <br /> Medicamentos, produtos ou serviços que estejam relacionados com a realização de abortos.<br /> Suplementos dietéticos ou complexos vitamínicos que não possuem o devido registro perante a autoridade competente.<br /> Substâncias que contenham anabolizantes ou esteroides.<br /> Cogumelos ou
                        chás que sejam atribuídos a cura de doenças. Por exemplo: kombucha.<br /> Substâncias naturais ou artificiais que promovam efeito curativo e que possam ser utilizadas para tratar doenças.<br /> Produtos que contenham substâncias botulínicas.<br /> Produtos para alisar cabelos que contenham formol.<br
                        /> Cremes com efeitos terapêuticos sem o devido registro perante a autoridade competente.<br /> Cremes para queimaduras, alergias, manchas e celulite.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Serviços médicos.<br /> Produtos emagrecedores desde que registrados perante a autoridade competente e esta informação esteja visível no anúncio.<br /> Suplementos dietéticos ou complexos
                        vitamínicos devidamente registrados perante a autoridade competente e esta informação esteja visível no anúncio.<br /> Cremes com efeitos terapêuticos desde que possuam o devido registro perante a autoridade competente e esta informação esteja visível no anúncio.<br /> Produtos homologados, aprovados
                        ou registrados pelos órgãos nacionais correspondentes sempre que o número de registro ou processo de homologação esteja presente na descrição do anúncio.<br />
                        <strong>OSSOS, ÓRGÃOS E MEMBROS HUMANOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Ossos e esqueletos.<br /> Sangue ou esperma.<br /> Órgãos, membros, resíduos humanos.<br /> Cadáveres
                        <br /> Pessoas
                        <br /> Barriga de aluguel<br />
                        <strong>O que é permitido comercializar</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Produtos que contenham cabelo humano, como perucas ou apliques.<br />
                        <strong>FLORA, FAUNA E DERIVADOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Flora ou fauna em extinção ou cuja venda está proibida por lei ou normativa vigente.<br /> Restos ou partes de animais.<br /> Medicamentos para animais.<br /> Cavalos marinhos ou corais.<br /> Marfim de qualquer espécie.<br /> Peles de animais,
                        exceto as sintéticas.<br /> Produtos ou serviços contrários à legislação ambiental brasileira, seja com objetivo de burlar, violar ou descumprir tais Leis em detrimento do Meio Ambiente.<br /> Equipamentos destinados a simulação de emissões reduzidas ou nulas de gases poluentes ao Meio Ambiente e
                        quaisquer produtos que busquem simular medições incorretas de emissão de poluentes químicos, físicos ou biológicos ao Meio Ambiente.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Cachorros.
                        <br /> Peixes e frutos do mar sempre com o número de licença do IBAMA.<br /> Animais de granja: bovinos, porcos, cavalos, cabras, ovinos, galinhas, frangos, patos, perus, coelhos, codornas, etc.<br /> Roedores: hamsters, chinchillas, porquinhos da Índia, etc.<br /> Gatos somente se forem domésticos.<br
                        /> Galos que não sejam para rinhas.<br /> Vermes e insetos.<br /> Minhocas e larvas de farinha.<br /> Restos de animais de espécies autorizados.<br /> Carnes de animais oferecidas como alimento, quando sejam de espécies permitidas.<br /> Ovos de espécies autorizadas.<br />
                        <strong>FOGOS DE ARTIFÍCIO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Fogos de artifícios.<br /> Produtos que contenham pólvora ou material explosivo.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Velas do tipo faísca para bolos de aniversário.<br />
                        <strong>PRODUTOS E SERVIÇOS FINANCEIROS</strong><br />
                        <strong>Não é permitido comercializar</strong> Produtos ou serviços financeiros como:<br /> Empréstimos ou créditos financeiros.<br /> Dinheiro em curso vigente no Brasil.<br /> Cheques ou talões de cheques vigentes.<br /> Ações, vales, títulos ou qualquer outro papel de capital aberto na bolsa de
                        valores.<br /> Contas bancárias e serviços de depósitos bancários.<br /> Cartão de crédito ou débito estando ou não válidos e serviços para obtê-los.<br /> Crédito para sites de apostas online ou de pagamentos eletrônicos.<br /> Moedas e bilhetes em circulação.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Ouro
                        <br /> Moedas ou bilhetes fora de circulação, desde que não sejam produzidos em Portugal ou Brasil até 1800.<br /> Moedas ou bilhetes de mentira.<br /> Gestão de fundos para comércio que incluam um terminal para pagamentos com cartão.<br /> Produtos, veículos, imóveis ou serviços com opção de financiamento
                        para pagá-los.
                        <br />
                        <strong>PASSAGENS AÉREAS, MILHAS OU PONTOS DE COMPANHIAS AÉREAS E PACOTES TURÍSTICOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Passagens aéreas.<br /> Pacotes turísticos.<br /> Benefícios concedidos por linhas aéreas para premiar a fidelidade de seus clientes.<br /> Milhas, pontos ou upgrades de companhias aéreas<br />
                        <strong>LISTAS DE E-MAIL E BASE DE DADOS PESSOAIS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Listas de e-mails massivas.<br /> Bases de dados pessoais, cadernos eleitorais, números de cartões, contatos comerciais ou de provedores ou qualquer outro tipo de lista que contenha dados privados.<br /> Compra ou venda de seguidores de redes sociais.<br
                        /> Ferramentas, softwares ou serviços que permitem o envio de mensagens massivas não solicitadas (SPAM).<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Guias comerciais.<br />
                        <strong>CONTEÚDOS RELACIONADOS À PORNOGRAFIA, ERÓTICOS OU INADEQUADOS PARA MENORES</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos ou ofertas de anúncios de natureza pornográfica proibidos por lei, como: prostituição, pedofilia, zoofilia, necrofilia, incesto. Anúncios com conotação sexual fora da categoria adultos.<br /> Serviços de exibição por webcam. Materiais,
                        remédios ou objetos cujo propósito seja gerar excitação sexual. Roupa íntima usada. Anúncios fora da categoria Adultos, links para eShops ou produtos anunciados nessa categoria.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Fantasias eróticas, sexys/sensuais ou que permitem ver partes íntimas do corpo.<br /> Roupas íntimas que permitem ver partes íntimas do corpo, que possam ser usadas para fins sexuais ou
                        que contenham palavras ou frases relacionadas com o ato sexual.<br /> Revistas ou livros de conteúdo pornográfico ou que contenham pessoas nuas.<br /> Vídeos, filmes, imagens ou jogos pornográficos ou com conteúdo sexual.<br /> Produtos afrodisíacos ou que contenham feromônios.<br /> Figuras ou brinquedos
                        que mostrem pessoas nuas ou em posições sexuais.<br /> Qualquer produto que tenha conotação sexual.<br />
                        <strong>VIOLÊNCIA E DISCRIMINAÇÃO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos que façam publicidade, promovam ou incitem de qualquer forma a violência, crimes, discriminação ou preconceito de toda ordem, tais como de raça, cor, etnia, procedência nacional ou de religião, gênero, orientação sexual, condição social
                        e econômica, intelectual etc.<br /> Produtos que façam apologia ou representem organizações que promovam o ódio como a Ku Klux Klan:<br /> Máscaras, anéis, escudos, bandeiras etc.<br /> Produtos relacionados com o Nazismo:<br /> Filmes relacionados com o regime nazista, como por exemplo: Jud Süß
                        entre outros.<br /> Livros de autores que promoveram o regime Nazista, por exemplo: Alfred Rosenberg, Baldur Von Schirach, Herman Goering, Joseph Goebels, Hans Zoberlein, entre outros.<br /> Livros sobre o regime Nazista: Minha luta, Livro autobiográfico de Hitler entre outros.<br /> Qualquer elemento
                        pertencente ao governo alemão e as suas forças armadas do período de 1933-1945.
                        <br /> Elementos que tenham insígnia do partido Nazista, da Alemanha Nazista ou de qualquer outro grupo vinculado a este regime.<br /> Material ofensivo ou violento. Por exemplo:<br /> Produtos que promovam grupos terroristas ou forças paramilitares. Por exemplo: a favor da Al Qaeda ou das FARC.<br
                        /> Vídeos ou imagens que fomentem a violência contra animais ou humanos.<br /> Dispositivos de tortura.<br /> Imagens ou filmes relacionados com assassinatos, acidentes ou mortes. Por exemplo, filmes snuff, fotos de cadáveres etc.<br /> Produtos relacionados com tragédias humanas:<br /> Escombros
                        provenientes de um atentado etc.
                        <br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Produtos relacionados com tragédias humanas que tenham valor social ou histórico. Por exemplo: Recortes de jornais, documentários, fotos ou imagens comemorativas, etc.<br /> Artigos jornalísticos
                        sobre a Ku Klux Klan e outras organizações.<br /> Documentários sobre a Ku Klux Klan e outras organizações.<br /> Selos relacionados ao nazismo.<br /> Moedas e bilhetes relacionados ao nazismo.<br /> Produtos que tenha a suástica, mas não estão relacionados com o regime Nazista.<br /> Documentários
                        sobre o regime Nazista.
                        <br /> Filmes e livros que não promovam a ideologia nazista.<br /> Documentários com material ofensivo ou violento.<br /> Recortes jornalísticos com material ofensivo ou violento.<br />
                        <strong>DECODIFICADORES E ANTENAS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Decodificadores, receptores, conversores, serviços ou antenas que permitem ver sinais pagos de forma gratuita.<br /> Chips ou placas que permitem desbloquear um receptor para ver sinais pagos.<br /> Receptores FTA.<br /> Dongles ou componentes
                        que permitem modificar ou desbloquear receptores, como por exemplo: LBN o LBNF<br /> Componentes que permitem realizar CardSharing.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Conversores ou receptores para sinais livres. Por exemplo: banda C e banda KU.<br /> Placas captadoras e sintonizadores de vídeo.<br /> Receptores para televisão digital.<br /> Divisores
                        de sinal para TV analógica ou digital.<br /> Antenas de Sky o Direct Tv.<br /> Antenas de aberturas ou fio liso.<br /> Antenas de sinal analógica e digital que somente captem as bandas C e KU.<br /> Antenas UHF e VHF quando não permitem receber sinais pagos.<br /> Antenas de disco ou parabólicas
                        quando não permitem ver sinais de TV paga.<br />
                        <strong>PRODUTOS QUE VIOLEM AS LEIS SOBRE PROPRIEDADE INTELECTUAL</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Documentos pessoais. Por exemplo:<br /> Passaportes
                        <br /> RG.
                        <br /> Carteira Nacionial de Habilitação.<br /> Identificações ou credenciais profissionais. Por exemplo:<br /> Títulos ou diplomas.<br /> Emblemas de polícia.<br /> Documentação empresarial. Por exemplo:<br /> Credenciais tributárias.<br /> Licença para venda de álcool.<br /> Receitas e/ou prescrições
                        médicas.<br /> Credenciais ou cartão de desconto para transportes que seja de uso pessoal e intransferível.<br /> Serviços de realização de documentos estudantis. Por exemplo:<br /> Teses
                        <br /> Monografias
                        <br /> Trabalhos práticos<br /> Uniformes que hoje em dia seja de uso de qualquer força armada.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Serviços de agência para outros procedimentos que não seja pessoal.<br /> Títulos ou diplomas de pedigree se entregues junto com o animal.<br />
                        <strong>PATRIMÔNIO HISTÓRICO, CULTURAL, ARQUEOLÓGICO E PALEONTOLÓGICO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos que infrinjam a legislação que protege bens artísticos, de interesse histórico, arqueológico, pré-históricos, numismáticos, bibliotecas, acervos de documentos, etc.<br /> Objetos considerados parte do patrimônio arqueológico, por ex.:<br
                        /> Restos de fósseis como ossos, ovos, impressões de plantas, madeira petrificada, âmbar, etc. Objetos considerados parte do patrimônio paleontológico, por ex.:<br /> Estalactites, estalagmites ou qualquer outro produto de escavações.<br /> Meteoros, aerólitos ou qualquer outro tipo de corpo natural
                        proveniente do espaço.<br /> Objetos considerados parte do patrimônio histórico e cultural, por ex.:<br /> Material etnológico, esculturas, pontas de flechas, ferramentas, etc.<br /> Documentos oficiais originais.<br /> Produtos que pertenceram a um personagem histórico para qualquer país ou estejam
                        relacionados com um feito histórico em específico.<br /> Produtos criados no Brasil ou em Portugal antes de 1899, com exceção de moedas e bilhetes fora de circulação produzidos até 1800.<br /> Produtos originais relacionados com linhas ferroviárias brasileiras.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Minerais e metais.<br /> Réplicas de produtos fósseis.<br /> Moedas e bilhetes fora de circulação, que sejam produzidos em Portugal ou no Brasil até 1800.<br /> Selos
                        <br /> Vasos, urnas, utensílios, etc., que sejam produzidos atualmente por reservas indígenas ou artesãos.
                        <br /> Réplicas de produtos que possam ser considerados patrimônio histórico anterior a 1899.<br />
                        <strong>PROGRAMAS OU SERVIÇOS PARA HACKEAR DISPOSITIVOS ELETRÔNICOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Dispositivos ou programas que permitem guardar o que se escreve no teclado. Por exemplo:<br /> keylogger, key ghost e key shark.<br /> Serviços de recuperação de senhas ou para hackear endereços eletrônicos.<br /> Softwares que permitem invadir
                        um dispositivo eletrônico. Por exemplo: malwares, spywares, trojans etc.<br /> Senhas, validadores, produtos ou serviços que permitem gerar números de séries para jogos ou programas. Por exemplo: key generator.<br /> Software, serviços, modems, cabos ou qualquer outro produto que permitem acessar
                        serviços de pagamentos pela internet de forma gratuita.<br /> Programas para gerar boletos de pagamento de entidades bancárias.<br /> Produtos ou serviços de espionagem como o de grampo ou escuta telefônica.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Serviços de configuração de wifi.<br />
                        <strong>ANÚNCIOS COM FINALIDADE DIFERENTE A VENDA DE UM PRODUTO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Anúncios que faltam seriedade, que sejam frutos de brincadeira ou que levem o comprador a cometer erros.<br /> Anúncios que tenham fim político.<br />
                        <strong>PRODUTOS BENEFICENTES</strong><br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Os anúncios em nome de uma fundação estão permitidos somente se a ONG for registrada.<br />
                        <strong>PRODUTOS QUE DEPENDEM DE HOMOLOGAÇÃO/APROVAÇÃO DE ÓRGÃOS GOVERNAMENTAIS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos que não são homologados, aprovados ou registrados pelos órgãos nacionais correspondentes, por exemplo: <a onclick="javascript:window.open('http://portal.anvisa.gov.br/wps/portal/anvisa/home')">ANVISA</a>&amp;nbsp;
                        <a onclick="javascript: window.open('http://www.anatel.gov.br/Portal/exibirPortalInternet.do')">ANATEL</a> ou <a onclick="    javascript: window.open('http://www.inmetro.gov.br/')">INMETRO</a>.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Produtos homologados, aprovados ou registrados pelos órgãos nacionais correspondentes sempre que o número de registro ou processo de homologação esteja presente na descrição do anúncio.<br
                        />
                        <strong>VEÍCULOS SEM DOCUMENTAÇÃO E PRODUTOS PARA VEÍCULOS QUE INFRINJAM LEIS VIGENTES</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Veículos automotores com ordem de busca e apreensão, restrição na documentação, restrição de circulação etc.<br /> Veículos que não possuam a documentação estabelecida pelas leis vigentes.<br /> Produtos ou serviços para veículos que violem as
                        leis vigentes.<br /> Produtos e/ou serviços que permitam modificar a quilometragem de um veículo.<br /> Artefatos, dispositivos e/ou substâncias que permitam obstruir, ocultar ou bloquear a placa do veículo.
                        <br /> Peças de veículos que estejam protegidas por patentes em território nacional.<br /> Documentação de um veículo.<br /> Licenças para táxis.<br /> Coletivos, ônibus, táxis ou qualquer outro veículo que dependa de uma licença ou autorização oficial para operar.<br /> Detectores de radares<br
                        />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Veículos com toda a documentação correspondente.<br /> Veículos com dívidas.<br />
                        <strong>INSETICIDAS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Venenos como pesticidas, agrotóxicos e raticidas.<br /> Produtos contra pulgas e carrapatos em animais. Por exemplo: pipetas, aerossóis, etc.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos. Equipamentos eletrônicos para afastar as pragas, insetos, vermes ou animais.
                        <strong>INGRESSOS PARA ESPETÁCULOS SEM AUTORIZAÇÃO</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Ingressos para espetáculos, shows, jogos esportivos e outros eventos sem autorização. Por exemplo: ingressos para a Copa do Mundo da FIFA 2014.<br /> Ingressos por valores acima de seus preços oficiais de bilheteria.<br />
                        <strong>CEROL</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Qualquer tipo de fio que contenha objetos cortantes. Por exemplo: cerol ou linha chilena.<br />
                        <strong>ELETROESTIMULADORES E APARELHOS DE GINÁSTICA PASSIVA</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Equipamentos que utilizam sistemas de eletrodos para estimular áreas diferentes do músculo do corpo, usados em educação física, embelezamento e correção estética.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Gel condutor para eletroestimuladores.<br />
                        <strong>TRANSFERIDOR DE GÁS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos que servem para transferir gás para garrafas.<br />
                        <strong>PRODUTOS QUE VIOLAM DIREITOS DE PROPRIEDADE INTELECTUAL</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> A W1BUY não permite o anúncio de CDs regravados, discos compactos ilegais ou cópias de CDs, filmes em formato VCD, DIVX ou qualquer outro formato não comercial, salvo se quem os anuncie seja o titular dos direitos de Autor. Proíbe-se também a venda
                        de discos compactos que contenham música em formato MP3, quando a mesma não esteja expressamente autorizada pelo artista ou companhia discográfica proprietária dos respectivos direitos, ou infrinja alguma legislação. A W1BUY poderá remover todos os produtos que infrinjam as políticas aqui estabelecidas
                        ou qualquer lei vigente.
                        <br />
                        <strong>RÉPLICAS, FALSIFICAÇÕES E CÓPIAS NÃO AUTORIZADAS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Cópias, falsificações ou réplicas não autorizadas que violem os direitos de Propriedade Intelectual.
                        <br /> Cópias não autorizadas de software, vídeogames, CDs e DVDs musicais, filmes, programas de televisão, fotografias, etc.<br /> Utilização do logotipo ou marcas em produtos que não foram produzidos oficialmente pelo detentor dos direitos de Propriedade Intelectual.<br /> Documentação que permita
                        certificar a originalidade de um produto.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Cópias de segurança ou backup sempre que se inclua o original.<br /> Réplicas de carrocerias de veículos.<br /> ROMS para emuladores de consoles cujos jogos estejam fora de catálogos ou
                        que sejam difíceis de encontrar.<br />
                        <strong>PRODUTOS QUE POSSAM SER BAIXADOS NA INTERNET E ACESSOS OU SENHAS A SITES OU DOCUMENTOS</strong><br />
                        <strong>Não é permitido comercializar</strong><br /> Produtos baixados na Internet que violem a propriedade intelectual dos fabricantes.<br /> Contas para fóruns, e-mails, redes sociais, comunidades ou qualquer site que requer uma conta para uso.<br /> Programas, códigos ou scripts que permitem explorar
                        erros do jogo ou melhorar suas funcionalidades.
                        <br /> Chaves ou senhas para acessar sites de acesso restrito.<br /> Links ou torrents que permitem baixar jogos ou software pagos.<br /> Cupons promocionais para serviços de publicidade online.<br />
                        <strong>O que é permitido comercializar?</strong><br /> Os produtos aqui mencionados são somente exemplos.<br /> Cartão de recarga para contas de lojas virtuais ou jogos online.<br /> Cartão com códigos para baixar conteúdo de uma loja virtual.<br /> Conta de armazenamento, como Dropbox ou Rapidshare,
                        quando não incluem conteúdo dentro dela.
                        <br /> CD Key, licenças ou números de séries somente se incluir o CD ou DVD do jogo.<br /> Dispositivos de armazenamento, como pendrives, cartões de memória ou discos rígidos, quando não incluem conteúdo baixado de lojas virtuais.<br /> Patches ou modificações de jogos.<br /> Mapas, cenários ou veículos
                        para simuladores.
                        <br /> Truques ou cheats para jogos.<br /> Personagens para jogos do Pokémon.
                    </p>
                    <p>
                        <strong id="services">16. Alcance dos Serviços</strong>
                    </p>
                    <p>
                        Estes Termos e condições gerais de uso não geram nenhum contrato de sociedade, mandato, franquia ou relação de trabalho entre W1BUY e o Usuário. O Usuário manifesta ciência de que a W1BUY não é parte de nenhuma negociação realizada entre Usuários, nem possui controle algum sobre a existência, qualidade, segurança ou legalidade
                        dos produtos ou serviços comercializados entre os Usuários, sobre a veracidade ou exatidão dos anúncios elaborados pelos usuários e sobre a capacidade dos Usuários para negociar. A W1BUY não pode assegurar o êxito de qualquer negociação realizada entre Usuários, tampouco verificar a identidade ou
                        dos Dados Pessoais dos usuários.<br /> A W1BUY não garante a veracidade da publicação de terceiros que apareça em seu site e não será responsável pela correspondência ou contratos que o Usuário realize com terceiros.
                    </p>
                    <p>
                        <strong id="fails">17. Falhas no Sistema</strong>
                    </p>
                    <p>
                        A W1BUY não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelo Usuário em razão de falhas na internet, no sistema ou no servidor utilizado pelo usuário, decorrentes de condutas de terceiros, caso fortuito ou força maior. A W1BUY também não será responsável por qualquer vírus que possa atacar o equipamento
                        do usuário em decorrência do acesso, utilização ou navegação na internet ou como consequência da transferência de dados, arquivos, imagens, textos, vídeos ou áudio.
                    </p>
                    <p>
                        <strong id="sanctions">18. Sanções</strong>
                    </p>
                    <p>
                        Sem prejuízo de outras medidas cabíveis, a W1BUY poderá advertir, suspender, temporária ou definitivamente, a conta de um Usuário, cancelar suas negociações ou aplicar uma sanção que impacte negativamente em sua reputação, a qualquer tempo, iniciando as ações legais cabíveis e/ou suspendendo a prestação de seus serviços
                        se: a) o Usuário não cumprir qualquer dispositivo destes Termos e condições gerais de uso; b) se descumprir com seus deveres de Usuário; c) se praticar atos fraudulentos ou dolosos; d) se não puder ser verificada a identidade do Usuário ou se qualquer informação fornecida por ele estiver incorreta;
                        e) se a W1BUY entender que os anúncios ou qualquer atitude do Usuário tenham causado algum dano a terceiros ou ao próprio W1BUY ou tenham a potencialidade de assim o fazer.
                    </p>
                    <p>
                        <strong id="information">19. Registro Público</strong>
                    </p>
                    <p>
                        Estes Termos e Condições de Uso, bem como todas as Políticas, encontram-se registrados em Cartório de Registro de Títulos e Documentos da Comarca da de Sete Lagoas/MG. Eventuais atualizações destes Termos e Condições de Uso serão imediatamente registradas no mesmo cartório.
                    </p>
                    <p>
                        <strong id="language">20. Idioma</strong>
                    </p>
                    <p>
                        Toda a documentação legal do Site, incluindo os presentes Termos e Condições de Uso, foi elaborada em língua portuguesa. A W1BUY poderá, a seu exclusivo critério, disponibilizar traduções de tais documentos no Site apenas para conveniência do Usuário. A versão portuguesa destes Termos e Condições de Uso e das Políticas
                        é a única consentida pela W1BUY. Em caso de contradição ou divergência entre a versão em português e eventual tradução para qualquer outro idioma, prevalecerá sempre a versão em língua portuguesa.
                    </p>
                    <p>
                        <strong id="timing">21. Horário</strong>
                    </p>
                    <p>
                        Nas negociações realizadas pelo Site deverá ser considerado o horário oficial de Brasília, capital do Brasil, inclusive nos períodos de horário de verão.
                    </p>
                    <p>
                        <strong id="law">22. Lei aplicável e Foro de Eleição</strong>
                    </p>
                    <p>
                        Todos os itens destes Termos e condições gerais de uso são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou qualquer outro questionamento relacionado a estes Termos e condições gerais de uso, as partes concordam em se submeter ao Foro da
                        Cidade de Sete Lagoas/MG, com exceção de reclamações apresentadas por Usuários que se enquadrem no conceito legal de consumidores, que poderão submeter tais reclamações ao foro de seu domicílio.
                    </p>
                    <p>
                        <strong id="address">23. Endereço para envio de correspondência</strong>
                    </p>
                    <p>
                        Todas as requisições, correspondências, notificações ou pedidos de informação deverão ser enviadas para o endereço do W1BUY, na Avenida Jose Servulo Soalheiro, n. º 1.230, Bairro São Pedro, Sete Lagoas/MG, CEP 35.701-019.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>